{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='registerHandler.js') }}" defer></script>
<script src="{{ url_for('static', filename='toggleClass.js') }}" defer></script>

<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-8 col-checkout-item mx-auto rounded">
            <h3 class="align-form-title mt-3">Register</h3>
            <form method="post" action="/register"  novalidate>
                    <div class="form-floating">
                        <input class="form-control" type="email" id="email" name="username" placeholder="Email" autocomplete="off" autofocus required>
                        <div class="invalid-feedback">Email is required.</div>
                        <label class="form-label" for="email">Email</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
                        <label class="form-label" for="password">Password</label>
                        <div id="invalid-feedback-password" class="invalid-feedback">Password must contain 8 characters or more</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="password" id="confirm-password" name="confirmation" placeholder="Confirm Password" required>
                        <label class="form-label" for="confirm-password">Confirm Password</label>
                        <div class="invalid-feedback">Passwords do not match.</div>
                    </div>
                    <div class="row justify-content-center form-group">
                        <div class="col">
                          <button type="submit" name="submit" class="btn btn-success" style="width: 100%;">Register</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
